<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="app">

      <form action="" name="" method="" enctype="" v-for="">

      </form>
      <table border="1">
          <thead>
            <tr>
                <th>姓名</th><th>年龄</th><th>性别</th><th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list">
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.sex}}</td>
                <td><a href="">添加</a> | <a href="">删除</a></td>
            </tr>
          </tbody>
      </table>

    <ul>
      <li v-for="item in list">{{item.name}} - {{item.age}} - {{item.sex}}</li>
    </ul>
  </div>

  <script src="/js/vue.2.6.12.min.js"></script>
  <script>
    var app = new Vue({
      el: "#app",     //挂载点
      data: {
        list:[
          {name:"zhangsan",age:11,sex:"男"},
          {name:"李四",age:22,sex:"男"},
          {name:"王五",age:33,sex:"男"},
        ]
      },

    })
  </script>
</body>
</html>